{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">

        <h1>Modification du mot de passe</h1>
        {{ form_start(form) }}

        <div class="mb-3">
            {{ form_row(form.currentPassword, { label: 'Ancien mot de passe : '}) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.plainPassword.first, { label: 'Nouveau mot de passe :' }) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.plainPassword.second, { label: 'Confirmez le nouveau mot de passe : ' }) }}
        </div>

        <button type="submit" class="btn btn-danger">Mettre à jour</button>
        <a href={{ path('app_profile') }} class="btn btn-secondary">Retour au profil</a>
        {{ form_end(form) }}
    </div>
{% endblock %}