{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    {% for success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endfor %}

    <div class="container mt-4">
        <h1>Mon Profil</h1>
        {% if is_granted('ROLE_USER') %}
            <p>Email: {{ user.email }}</p>
            <a href="{{ path('app_change_email') }}" class="btn btn-primary">Modifier l'email</a>
            <a href="{{ path('app_edit_password') }}" class="btn btn-danger">Modifier le mot de passe</a>
            <a href="{{ path('app_logout') }}" class="btn btn-secondary">Se déconnecter</a>
        {% endif %}
    </div>
{% endblock %}