{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    {% for success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endfor %}

    <h1>Mon Profil</h1>
    {% if is_granted('ROLE_USER') %}
        {% if not editMode %}
            <p>Email: {{ user.email }}</p>
            <a href="{{ path('app_change_email', {'edit': true}) }}">Éditer l'email</a>
            <a href="{{ path('app_edit_password', {'edit': true}) }}">Éditer le mot de passe</a>
            <div class="form-group">
                <a href="{{ path('app_delete_profile') }}" class="btn btn-danger">Supprimer mon profil</a>
            </div>
        {% else %}
            <form method="post" action="{{ path('app_edit_profile') }}">
                <label>
                    <input type="email" name="email" value="{{ user.email }}" required>
                </label>
                <button type="submit">OK</button>
                <a href="{{ path('app_profile') }}">Annuler</a>
            </form>
        {% endif %}
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <p>Veuillez vous connecter pour accéder à votre profil.</p>
    {% endif %}
{% endblock %}