{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        <div class="mb-3">
            {{ form_row(registrationForm.email) }}
        </div>

        <div class="mb-3">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
        </div>

        <div class="mb-3">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

            <button type="submit" class="btn btn-primary">S'inscrire</button>
            <a href={{ path('app_login') }} class="btn btn-secondary">Connexion</a>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
