{% block content %}
    <div class="section">
        <div class="content">
            {{ form_start(emailForm) }}

            {{ form_row(emailForm.newEmail) }}

            <button type="submit" class="button is-fullwidth is-primary">Change Email</button>
            {{ form_end(emailForm) }}
        </div>
    </div>

    <div class="section">
        <div class="content">
            {{ form_start(passwordForm) }}

            {{ form_row(passwordForm.currentPassword, { label: 'Current Password:' }) }}

            {{ form_row(passwordForm.plainPassword.first, { label: 'New Password:' }) }}

            {{ form_row(passwordForm.plainPassword.second, { label: 'Confirm New Password:' }) }}

            <button type="submit" class="button is-fullwidth is-primary">Change Password</button>
            <a href={{ path('app_profile') }}>Back to Profile</a>
            {{ form_end(passwordForm) }}
        </div>
    </div>
{% endblock %}