{% extends 'base.html.twig' %}

{% block title %}Liste des Tags{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Catégories</h1>
    
    <!-- Bouton "Ajouter" avec lien vers la page d'ajout de tag -->
    <a href="{{ path('tag_new') }}" class="btn btn-success mb-3">Ajouter</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre d'Articles</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>{{ tag.articles.count }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('tag_update', {'id': tag.id}) }}" class="btn btn-warning fa-solid fa-pen-to-square"></a>
                        <form action="{{ path('tag_delete', {'id': tag.id}) }}" method="post" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
                            <button type="submit" class="btn btn-danger fa fa-trash"></button>
                        </form>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
