{% extends 'base.html.twig' %}

{% block title %}Détails de l'article{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="mb-4">{{ article.title }}</h1>
                    <h5 class="card-title mb-4">
                        {{ article.summary }}
                    </h5>
                    <p class="card-text">{{ article.content }}</p>
                </div>
                <div class="col-md-4">
                    {% if article.image is not empty %}
                        <img src="{{ article.image }}" alt="{{ article.title }}" class="img-thumbnail img-sm">
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
    
    <a href="{{ path('app_home') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
</div>
{% endblock %}
